APP_PORT=3000
DEV_ALLOWED_ORIGINS=
APP_URL=http://localhost:3000

POSTGRES_USER=3am
POSTGRES_PASSWORD=3am
POSTGRES_DB=3am
POSTGRES_PORT=5432
DATABASE_URL=postgres://3am:3am@127.0.0.1:5432/3am


ORGANIZER_SLACK_IDS=

SESSION_SECRET=

HCA_ISSUER=https://auth.hackclub.com
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

HACKATIME_BASE_URL=https://hackatime.hackclub.com
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
TOKEN_ENCRYPTION_KEY=

ARI_BASE_URL=https://webhooks.ari.hackclub.com
ARI_PROGRAM_ID=
ARI_INGEST_SECRET=
ARI_WEBHOOK_SECRET=

CDN_TOKEN=

SLACK_BOT_TOKEN=
SLACK_OPS_CHANNEL_ID=
